<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       <p>THIS APP IS MADE BY AKSHAT JAITLY USING NODE JS AND DATA FROM MAPBOX AND DARK SKY</p>
    </div>
    
    {{>footer}}
</body>

</html>